
; NB this file should be up one folder outside the project to follow https://12factor.net/config

{
		:amazonica-localhost {:access-key "local-access-inside"
                        :secret-key "local-secret-inside"
                        :endpoint   "http://localhost:8000"}
  :monger-heroku {
									 :MONGODB_USER_PASS_URI "mongodb://heroku_abcedfgh:ijklmnopqrstuvwxyz12345678@abcdefgh.mlab.com:12345/heroku_abcdefgh"
  }

 :monger-localhost {
	        :MONGODB_USER_PASS_URI "mongodb://localhost:27017/local"
  }   
		   
}

