

; NB no dashes in HEROKU config vars


{
  :amazonica-db {
    :access-key "local-access",
    :endpoint "http://localhost:8000",                 ; not used by Heroku
    :secret-key "local-secret"
  },

  :heroku-vars {
    :CRON_URL_DIR "/url-for-cron-execution",                               ;re-written by Heroku config var
    :SEND_TEST_SMS_URL "/zxc"                                              ;re-written by Heroku config var
    :HEROKU_APP_NAME "https://fathomless-woodland-85635.herokuapp.com/",
    :PHONE_NUMBERS "12345678901,12345678901,12345678901",                  ;re-written by Heroku config var
    :PORT "8080",                                                          ;re-written by Heroku config var
    :TILL_API_KEY "1234567890abcdefghijklmnopqrstuvwxyz1234",              ;re-written by Heroku config var
    :TILL_URL "https://platform.tillmobile.com/api/send"                   ;re-written by Heroku config var
    :TILL_USERNAME "abcdefghijklmnopqrstuvwxyz1234"                        ;re-written by Heroku config var
    :TESTING_SMS true
  },                                                    ;re-written by Heroku config var

  :monger-db {
    :MONGODB_URI "mongodb://localhost:27017/local"}   ;re-written by Heroku config var
}
