

; NB no dashes in config vars


{:amazonica-db {:access-key "local-access",
                :endpoint "http://localhost:8000",
                :secret-key "local-secret"},
 :heroku-vars {:CRON_URL_DIR "/url-for-cron-execution",
               :HEROKU_APP_NAME "https://fathomless-woodland-85635.herokuapp.com/",
               :PHONE_NUMBERS "11234567890,123234342,123123123",
               :PORT "8080",
               :TILL_API_KEY "1234567890abcdefghijklmnopqrstuvwxyz1234",
               :TILL_USERNAME "abcdefghijklmnopqrstuvwxyz1234"},
 :monger-db {:MONGODB_URI "mongodb://localhost:27017/local"}}

