




{

:cron-seconds 1000
:cron-run-always true     
:cron-save-db false              ;; not used, as it is injected in (cron-init-2)
:cron-read-real false




:error-length 55

:db-table-name  "t1"        ; amazondb 3 chars




:config-suffix ".config.edn"

:server-port 3000


  :the-check-pages [
       { :check-page "www.sffaudio.com"                :enlive-keys[:article :div.blog-item-wrap]  :count-at-least 5}
  	  { :check-page "sffaudio.herokuapp.com_rsd_rss"  :enlive-keys[:item]                         :count-at-least 5}
  					
  ]


}