[[{:_id "2019-09-19-01-54-03.800Z+1",
   :check-url "sffaudio.herokuapp.com_rsd_rss",
   :check-date "2019-09-19-01-54-03.800Z",
 :check-bytes 11, 
:check-html "bluhss 4444", 
:check-accurate nil,
 :check-time 12346}]
 [{:_id "2019-10-19-01-54-03.800Z+0",
 :check-url "www.sffaudio.com",
 :check-date "2019-10-19-01-54-03.800Z",
 :check-bytes 9,
 :check-html "blah 1111",
 :check-accurate nil,
 :check-time 1234}]]
